<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- mob所需权限 -->
    <!-- 允许访问WiFi网络状态信息（必须） -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许读取手机状态（必须） -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许访问网络状态（必须） -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许写手机存储（必须） -->
    <!-- GUI自动填充验证码功能（非必须） -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 从短信中读取验证码接口（非必须） -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.activity.my.ShowApplyInfoActivity"></activity>
        <activity android:name=".main.activity.my.ApplyInfoActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginByPasswordActivity" />
        <activity android:name=".login.LoginByPhoneActivity" />
        <activity android:name=".teacher.tool.euclid.EuclidActivity" />
        <activity android:name=".more.activity.MoreActivity" />
        <activity android:name=".school.activity.SchoolActivity" />
        <activity android:name=".teacher.activity.TeacherActivity" />
        <activity android:name=".apply.activity.ApplyActivityBaby" />
        <activity android:name=".apply.activity.ApplyActivityParents" />
        <activity android:name=".apply.activity.ApplyActivityAffirm" />
        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 学校简介用到的activity 开始 -->
        <activity android:name=".school.activity.ImageShower" />
        <activity android:name=".main.activity.my.AddChildActivity" />
    </application>

</manifest>